<div class="container-fluid">
  <section id="cv-section">
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-10 offset-1">

        <div class="row" id="name-row">
          <div class="col-12">
            <h2 style="text-align: center;">Caroline Fuller</h2>
          </div>
        </div>

        <div class="row cv-row" id="highlight">
          <div class="col-lg-10 offset-lg-1">
            <p>
              <strong>Junior front-end developer with 1.5 year’s experience working as part of a Barcelona-based consultancy team. Range
                of practical experience including Angular 2+, HTML5, CSS, Typescript, Javascript, MySQL, Git
              </strong>
            </p>
          </div>
        </div>

        <div class="row cv-row" id="skills-row">
          <div class="col">
            <h5><strong>Skills:</strong></h5>
            <p><strong>Languages:</strong> Javascript, Typescript, SQL, CSS, SASS, HTML5</p>
            <p><strong>Frameworks:</strong> Angular 2+, StencilJS, Loopback, NestJS, Bootstrap, MySQL</p>
            <p><strong>Some experience with:</strong> JQuery, Webpack, NGRX, PHP, Yii2, Vue, Firebase, Java</p>
          </div>
        </div>

        <div class="row cv-row" id="experience-row">
          <div class="col">
            <h5><strong>Work Experience:</strong></h5>
            <p>
              <i>Beta Barcelona, Barcelona, Spain</i><br>
              Jun 2017 - Present<br>
              <strong>Junior Developer</strong><br>
              Developing Angular 2+ based frontends for a range of client projects. Some server side API development with Node. Remote
              work primarily, co-ordinating with developers within Spain and further afield. Project management via Trello and similar
              platforms, experienced with and comfortable working as part of a distributed team. More recently working with StencilJS and
              some initial investigations with Vue.
            </p>
            <p>
              <i>Merit School, Sant Cugat, Spain</i><br>
              Sep 2016 - Jun 2017<br>
              <strong>EFL Teacher</strong><br>
              Delivering General English and Exam Preparation classes to teens and adults. Preparation for Cambridge First, Advanced and
              Proficiency exams. Additional duties included planning and preparing resources for classes, assessing student progress by
              setting tests and exam tasks, and writing assessments and reports.
            </p>
            <p>
              <i>Bucksmore Education, King Edward’s School, UK</i><br>
              Jul - Aug 2016<br>
              <strong>Director of Studies</strong><br>
              Running the academic programme at a summer camp for international students aged 9-16. Duties included carrying out academic
              induction for teachers, level testing, organising classes, dealing with level change requests, providing staff training
              workshops, scheduling and running assessments, organising writing of reports, working closely with management teams on-site
              and at head office to ensure smooth-running of camp.
            </p>
            <p>
              <i>ESADE Business & Law School, Sant Cugat, Spain</i><br>
              Jun - Dec 2016<br>
              <strong>EFL Lecturer</strong><br>
            </p>
            <p>
              <i>International House Terrassa, Spain</i><br>
              Oct 2013 - Jun 2016<br>
              <strong>EFL Teacher</strong><br>
            </p>
            <p>
              <i>University of Northampton Business School, Northampton, UK</i><br>
              Aug-Sept 2014 & 2015<br>
              <strong>Associate Lecturer</strong><br>
            </p>
            <p>
              <i>Thames Valley Summer Schools, Rugby, UK</i><br>
              Summers 2010-2014<br>
              <strong>Senior Teacher/EFL Teacher</strong><br>
            </p>
            <p>
              <i>Open English Academy, Sant Feliu de Guixols, Spain</i><br>
              Sep 2011 - Jun 2013<br>
              <strong>EFL Teacher</strong><br>
            </p>
            <p>
              <i>Huihua College of Hebei Normal University, China</i><br>
              Oct 2010 - Jul 2011<br>
              <strong>EFL Teacher</strong><br>
            </p>
            <p>
              <strong>Other posts of responsibility:</strong><br>
              <i>Cambridge speaking examiner for PET, KET and YLE exams.</i><br>
              Feb 2014 – Jul 2017
            </p>

          </div>
        </div>

        <div class="row cv-row" id="education-row">
          <div class="col">
            <h5><strong>Education:</strong></h5>
            <p>
              <i>International House, Barcelona, Spain</i>
              <span class="float-right">2014-2016</span><br>
              <strong>Cambridge DELTA: Distinction/Merit</strong>
            </p>
            <p>
              <i>International House, Budapest, Hungary</i>
              <span class="float-right">April 2010</span><br>
              <strong>Cambridge CELTA: Pass A</strong>
            </p>
            <p>
              <i>University of Leeds, UK</i>
              <span class="float-right">2008-2009</span><br>
              <strong>MA Japanese Studies: Distinction</strong>
            </p>
            <p>
              <i>University of Hull, UK</i>
              <span class="float-right">2004-2007</span><br>
              <strong>BA Drama: First Class</strong>
            </p>
            <p>
              <i>Guilsborough School, Northamptonshire, UK</i>
              <span class="float-right">1997-2004</span><br>
              <strong>
                A-level Biology, Chemistry & Drama: B, B, B<br>
                AS-level Psychology: B<br>
                10 GCSE’s: A*-B (including Maths, English & Science: A*, A, A)
              </strong>
            </p>
          </div>
        </div>

        <div class="row cv-row" id="languages-row">
          <div class="col">
            <h5><strong>Languages:</strong></h5>
            <p>English (native)<br>Spanish (upper-intermediate)</p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
