<section class="p-0" id="projects">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a routerLink="/projects/1" class="portfolio-box">
          <img class="img-fluid" src="../../../assets/img/portfolio/1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Project #1
              </div>
              <div class="project-name">
                Importing Fruit
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a routerLink="/projects/2" class="portfolio-box">
        <img class="img-fluid" src="../../../assets/img/portfolio/2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Project #2
              </div>
              <div class="project-name">
                Time Management
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a routerLink="/projects/3" class="portfolio-box">
          <img class="img-fluid" src="../../../assets/img/portfolio/3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Project #3
              </div>
              <div class="project-name">
                Online Magazines
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a routerLink="/projects/4" class="portfolio-box">
          <img class="img-fluid" src="../../../assets/img/portfolio/4.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Project #4
              </div>
              <div class="project-name">
                Recruiting Event Staff
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a routerLink="/projects/5" class="portfolio-box">
          <img class="img-fluid" src="../../../assets/img/portfolio/5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Project #5
              </div>
              <div class="project-name">
                Supply Chain Management
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a routerLink="/projects/6" class="portfolio-box">
          <img class="img-fluid" src="../../../assets/img/header.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Project #6
              </div>
              <div class="project-name">
                Portfolio
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
