<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contact me</h2>
        <hr class="my-4">
      </div>
    </div>

    <div *ngIf="status === 'ready'">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="mb-5">If you'd like to get in touch with me, please complete the contact form below.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <alert *ngIf="submissionError" type="danger">
            Oops, there seems to have been a problem. Please try again.
          </alert>

          <form #contactForm="ngForm" id="contact-form" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label for="name-input">Name*</label>
              <input id="name-input" class="form-control" [(ngModel)]="contact.name" placeholder="Enter name" name="name" #name="ngModel" required/>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <p class="ml-2 form-control-feedback danger"><small>Name is required.</small></p>
              </div>
            </div>
            <div class="form-group">
              <label for="email-input">Email*</label>
              <input id="email-input" class="form-control" [(ngModel)]="contact.email" type="email" placeholder="Enter email" name="email"
                    #email="ngModel" email required/>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <p class="ml-2 form-control-feedback danger"><small>A valid email address is required.</small></p>
              </div>
            </div>
            <div class="form-group">
              <label for="message-input">Message</label>
              <textarea id="message-input" class="form-control" [(ngModel)]="contact.message" placeholder="Enter message (optional)"
                        name="message" rows="3">
              </textarea>
            </div>

            <div class="row">
              <div class="col text-center">
                <button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary">Send</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div *ngIf="status === 'loading'">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center mt-5">
          <fa-icon [icon]="faSpinner" [spin]="true" size="4x"></fa-icon>
        </div>
      </div>
    </div>

  </div>

</section>
