<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Skills & Experience</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <div class="mb-3">
            <fa-icon [icon]="faAngular" size="4x" class="text-primary" [ngsReveal]="{delay: 200}"></fa-icon>
          </div>
          <h3 class="mb-3">Angular 2+</h3>
          <p class="text-muted mb-0">Most of my professional experience has been in creating dynamic frontends using Angular 2-6.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <div class="mb-3">
            <fa-icon [icon]="faJsSquare" size="4x" class="text-primary" [ngsReveal]="{delay: 400}"></fa-icon>
          </div>
          <h3 class="mb-3">Javascript</h3>
          <p class="text-muted mb-0">But I'm also comfortable using Javascript independent of framework (and on the backend with Loopback and NestJs too!).</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <div class="mb-3">
            <fa-icon [icon]="faCode" size="4x" class="text-primary" [ngsReveal]="{delay: 600}"></fa-icon>
          </div>
          <h3 class="mb-3">HTML5 and CSS</h3>
          <p class="text-muted mb-0">I can use HTML and CSS (and SCSS) to create webpages according to design specifications.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <div class="mb-3">
            <fa-icon [icon]="faHeart" size="4x" class="text-primary" [ngsReveal]="{delay: 800}"></fa-icon>
          </div>
          <h3 class="mb-3">Teamwork</h3>
          <p class="text-muted mb-0">And I'm experienced with using tools like git, slack and harvest to co-ordinate my work with other team members.</p>
        </div>
      </div>
    </div>
  </div>
</section>
