<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
  <div class="container">
    <a *ngIf="url === 'home'; else homeRouterLink" class="navbar-brand" pageScroll href="#home">Home</a>
    <ng-template #homeRouterLink>
      <a class="navbar-brand" routerLink="home">Home</a>
    </ng-template>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <ng-template *ngIf="url === 'home'">
          <li class="nav-item">
            <a class="nav-link" pageScroll href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" pageScroll href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" pageScroll href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" pageScroll href="#cv">Contact</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
