<div>
  <header id="home" class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Caroline Fuller</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <h4 class="text-faded mb-5">A frontend web developer based in Barcelona, Spain</h4>
          <a class="btn btn-primary btn-xl" pageScroll href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <app-about></app-about>
  <app-skills></app-skills>
  <app-projects></app-projects>

  <section id="cv" class="bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Check out my CV for more details!</h2>
      <a class="btn btn-light btn-xl sr-button" href="/cv" [ngsReveal]="{delay: 200}">View CV</a>
    </div>
  </section>
</div>
